<p>
Tempe High School Students WERE HERE!
</p>
<p>
<alert>You</alert>
</p>
<p>
<script><alert>Up the dragons</alert></script>
</p>
<p>
<script><alert>Up the dragons</alert></script>
</p>
<p>
</p><script><alert>Up the dragons</alert></script><p>
</p>
<p>
</p><script>alert(Up the dragons)</script><p>
</p>
<p>
admin:password
</p>
<p>
admin:password
</p>
<p>
admin:password
</p>
<p>
admin:password, MrJones:C10, marg:6767
</p>
<p>
admin:password(01/01/1990), MrJones:C10(01/01/1990), marg:6767(1/2/1)
</p>
<p>
--
</p>
<p>
--
</p>
<p>
asd
</p>
<p>
{{config}}
</p>
